{% extends 'movies/base.html' %}
{% block title %}
Режиссер: {{ actor.name }}
{% endblock title %}
{% block content %}
    <p>
        <img src="{{actor.image.url}}">
    </p>
    <p>{{ actor.name }}</p>
    <p>Возраст: {{actor.age}} года</p>
    <p>Режиссер: </p>
    <ul>
    {% for movie in actor.film_director.all %}
        <li>{{ movie.title }}</li>
    {% endfor %}
    </ul>
    <p>Актер: </p>
    <ul>
    {% for movie in actor.film_actor.all %}
        <li>{{ movie.title }}</li>
    {% endfor %}
    </ul>
    <p>О {{actor.name}}</p>
    <p>{{actor.description | safe}}</p>
{% endblock content %}