{% extends 'movies/base.html' %}
{% block title %}
    Описание {{ movie.title }}
{% endblock title %}
{% block content %}
    <p>
        <img src="{{movie.poster.url}}">
    </p>
    <p>{{ movie.title }}</p>
    <p>{{ movie.year }}</p>
    <p>{{ movie.country }}</p>
    <p>{{ movie.tagline }}</p>
    {% for directory in movie.directory.all %}
        <p>{{ directory.name }}</p>
    {% endfor %}
    {% for actor in movie.actor.all %}
        <p>{{ actor.name }}</p>
    {% endfor %}
    {% for genre in movie.genre.all %}
        <p>{{ genre.name }}</p>
    {% endfor %}
    <p>{{movie.world_premiere}}</p>
    <p>{{movie.fees_in_usa}}</p>
    <p>{{movie.fees_in_world}}</p>
    <p>{{movie.title}}</p>
    <p>{{movie.description}}</p>
{% endblock content %}