{% extends 'movies/base.html' %}
{% block title %}
    Описание {{ movie.title }}
{% endblock title %}
{% block content %}
    <p>
        <img src="{{movie.poster.url}}">
    </p>
    <p>{{ movie.title }}</p>
    <p>{{ movie.year }}</p>
    <p>{{ movie.country }}</p>
    <p>{{ movie.tagline }}</p>
    {% for directory in movie.directory.all %}
        <p>{{ directory.name }}</p>
    {% endfor %}
    {% for actor in movie.actor.all %}
        <p>{{ actor.name }}</p>
    {% endfor %}
    {% for genre in movie.genre.all %}
        <p>{{ genre.name }}</p>
    {% endfor %}
    <p>{{movie.world_premiere}}</p>
    <p>{{movie.fees_in_usa}}</p>
    <p>{{movie.fees_in_world}}</p>
    <p>{{movie.title}}</p>
    <p>{{movie.description}}</p>
    <p>
        {% for image in movie.movieshots_set.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}" width="200px" height="200px">
        {% endfor %}
    </p>
<div>
    <form action="{% url 'add_review' movie.id %}" method="post" id="formReview">
        {% csrf_token %}
        <input type="hidden" name="parent" id="contactparent" value="">
        <div>
            <label for="contactcomment" class="editContent">
                Ваш комментарий *
            </label>
            <textarea rows="5" name="text" required="" id="contactcomment"></textarea>
        </div>
        <div>
            <div>
                <label for="contactusername" class="editContent">
                    Имя *
                </label>
                <input type="text" name="name" id="contactusername" required="">
            </div>
            <div>
                <label for="contactemail">
                    Email *
                </label>
                <input type="email" name="email" id="contactemail" required="">
            </div>
        </div>
        <button type="submit">
            Отправить
        </button>
    </form>
    {% for review in movie.reviews_set.all %}
        <h5>{{ review.name }}</h5>
        <p>{{ review.text }}</p>
        <a href="#formReview" onclick="addReview('{{ review.name }}, {{review.id}}')">Ответить</a>
    {% endfor %}
</div>
    <script>
        function addReview(){
            document.getElementById('contactparent').value = id;
            document.getElementById('contactconnect').InnerText = ${name},
        }
    </script>
{% endblock content %}