{% extends 'movies/base.html' %}
{% block title %}
    Описание {{ movie.title }}
{% endblock title %}
{% block content %}
    <p>
        <img src="{{movie.poster.url}}">
    </p>
    <p>{{ movie.title }}</p>
    <p>{{ movie.year }}</p>
    <p>{{ movie.country }}</p>
    <p>{{ movie.tagline }}</p>
    {% for directory in movie.directors.all %}
        <p><a href="{{ directory.get_absolute_url }}">{{ directory.name }}</a></p>
    {% endfor %}
    {% for actor in movie.actors.all %}
        <p><a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></p>
    {% endfor %}
    {% for genre in movie.genres.all %}
        <p>{{ genre.name }}</p>
    {% endfor %}
    <p>{{movie.world_premiere}}</p>
    <p>{{movie.fees_in_usa}}</p>
    <p>{{movie.fees_in_world}}</p>
    <p>{{movie.title}}</p>
    <p>{{movie.description | safe}}</p>
    <p>
        {% for image in movie.movieshots_set.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}" width="200px" height="200px">
        {% endfor %}
    </p>
<div>
    <form action="{% url 'add_rating' %}" method="post" name="rating">
        <strong>Рейтинг: </strong>
        {% csrf_token %}
        <input type="hidden" value="{{ movie.id }}" name="movie">
        <span class="rating">
            {% for key, value in star_form.fields.star.choices %}
                <input id="rating{{ value }}" type="radio" name="star" value="{{ key }}">
                <label for="rating{{ value }}">{{ key }}</label>
            {% endfor %}
                <input type="submit" value="проголосовать">
        </span>
    </form>
</div>
<form action="{% url 'add_review' movie.id %}" method="post">
    {% csrf_token %}
    <label>
        Имя
    </label>
    {{ form.name }}
    <br>
    <label>
        Email
    </label>
    {{ form.email }}
    <br>
    {{ form.captcha }}
    <label>
        Ваш комментарий
    </label>
    {{ form.text }}
    <br>
    <input type="submit" value="Отправить">
</form>
    {% for review in movie.reviews_set.all %}
        <h5>{{ review.name }}</h5>
        <p>{{ review.text }}</p>
        <a href="#formReview" onclick="addReview('{{ review.name }}, {{review.id}}')">Ответить</a>
    {% endfor %}
</div>
    <script>
        function addReview(){
            document.getElementById('contactparent').value = id;
            document.getElementById('contactconnect').InnerText = ${name},
        }
    </script>
{% endblock content %}